# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Reference Files
README-DEVELOPER.md

# Vendor
src

# Config
*.json
*.js
*.mjs